{% extends "layout.html" %}

{% block title %}
Stocks owned
{% endblock %}


{% block main %}
    <h1>Stocks Owned</h1>
    <table class="table">
        <tr>
            <th>Symbol</th>
            <th>Share amount</th>
            <th>Share Value</th>
            <th>Total Value</th>
        </tr>
        {% for line in user_transactions %}
        <tr>
            <td>{{line["symbol"]}}</td>
            <td>{{line["total_shares"]}}</td>
            <td>{{line["actual_value"] | usd }}</td>
            <td>{{line["actual_total_value"] | usd}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>Cash</td>
            <td>{{actual_money | usd }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>TOTAL</td>
            <td>{{total_value | usd }}</td>
        </tr>
    </table>

{% endblock %}
